/* stili generale pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif
}


/* stili header */
.main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    
}

.barra-fissa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 60px;
    background-color: hsl(24.33deg 100% 50.2%);
}

.nav-person a {
    color: white;
    text-decoration: none;
}

.logo img {
    width: 150px;
}


/* stili main shop */
main {
    margin: 20px 15%; 
}

.row {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    
    
}

.col-shop {
    width: calc(100%/3);
    min-height: 300px;
    border: 1px solid white;
    position: relative;
    margin: 0 15px;
}


.img-shop {
    max-width: 100%;
    position: relative;
}

.img-shop2 {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.content-shop:hover .img-shop2 {
    display: flex;

}

.content-shop .fa-heart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    margin-top: 5px;
}

.label {
    position: absolute;
    bottom: 90px;
    left: 0;
    padding: 5px;
    background-color: hsl(0deg 100% 50%);
    color: white;
}

.label-green {
    background-color: hsl(120.47deg 100% 25.1%);
    position: absolute;
    bottom: 90px;
    left: 50px;
    padding: 5px;
    color: white;
}

.label-green2 {
    background-color: hsl(120.47deg 100% 25.1%);
    position: absolute;
    bottom: 90px;
    left: 0;
    padding: 5px;
    color: white;
}

/* stili descrizione prodotto */
.descrizione-prodotto {
    display: flex;
    flex-direction: column;
}

.marca {
    font-size: 14px;
}

.marca-bold {
    font-weight: bold;
}

.prezzo-scontato {
    color: red;
}

.prezzo {
    color: black;
    text-decoration: line-through;
}

/* stili footer */
footer {
    background-color: hsl(0deg 0% 10.2%);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

h3 {
    padding: 5px 5px;
}

.info li {
    padding: 0 5px;
    font-size: 14px;
}

